<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>SocketIO example</title>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
      <script type="text/javascript">
         $(document).ready(function() {
         
           $('#start').attr('disabled', 'disabled');
           // sending a connect request to the server.
           var socket = io.connect('http://qing.ihuhao.com:8000');
         
           socket.on('after connect', function(msg) {
               $('#start').removeAttr("disabled");
               $('#log').append('<br>' + $('<div/>').text(msg.data).html());
           });        

           socket.on('strategy-log', function(msg) {
               $('#log').prepend('<br>' + $('<div/>').text(msg).html());
           });        

           socket.on('plot', function(baseUrl) {
               $('#start').removeAttr("disabled");
               $('#plot').attr('src', "data:image/png;base64,"+baseUrl);
           });        

           $('#start').on('click', function() {
               $('#log').empty();
               $('#plot').attr('src', '');
               $('#start').attr('disabled', 'disabled');
               socket.emit('start', {});
           });


         });
      </script>
   </head>
   <body>
    <h1>Online Backtrader Demo</h1>
    <button id="start">Start</button><br>
    <img id="plot"><br>
    <div id="log"></div>
   </body>
</html>
